{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <main class="yangpago">
        <img class="mb-4" src="{% static '/logo/yangpago.png' %}" alt="" width="300" height="300">

        <h1 class="h3 mb-2 fw-normal">Authentication done!</h1>
        <p>
            You are successfully authorized!... maybe... perhaps...
        </p>


        <a href="https://cutlet-project.slack.com/apps/AUG9D477U-papago?next_id=0" class="btn btn-primary m-5">Back to
            App
            Directory</a>

        <p class="mt-2 mb-3"> >> you are safe to close this page << </p>
    </main>
{% endblock %}
